@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@900&family=Martel+Sans:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap');

nav {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 90%;
}

.main{
  height: 100%;
}

.main .box{
  height: 60vh;
}

.main #lang{
  width: 4rem;
  position: relative;
}

.main #lang img{
  position: absolute;
}
.main #lang .img1{
  left: -2rem;
}
.main #lang .img2{
  left: 0rem;
}

nav img {
  width: 95px;
  margin-left: 0rem;
  margin-right: 2rem;
}

.redBtn {
  width: 17vw;
}

.nav_element span{
  visibility: hidden;
}

/* .nav_element .signin {
  margin-left: 0.5rem;
  min-width: 5vw;
  margin-right: 4rem;
} */
.text1{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.text1> :first-child{
  font-weight: 700;
  font-size: 1.8rem;
}

.text1> :nth-child(2){
  font-weight: 400;
  font-size: 1.25rem;
}

.text1> :nth-child(3){
  width: 80vw;
  font-weight: 400;
  font-size: 1rem;
}

.main .getStarted{
  /* background-color: red; */
  height: 6rem;
  width: 20rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
  position: relative;
}

.getStarted #emailAddress{
  height: 4rem;
  width: 16rem;
  margin: 5px;
}


.placeholder{
  position: absolute;
  left: 40px;
  top: 27%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.671);
}

.getStarted #emailAddress:focus + .placeholder{
  top: 15%;
  font-size: 0.5rem;
  left: 2.5rem;
}

.getStarted #emailAddress:focus{
  border: 4px solid rgba(238, 238, 238, 0.7);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  height: 3.8rem;
}

.getStarted button{
  height: 4rem;
  width: 8rem;    
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStarted button img{
  width: 1rem;
}

.section{
  flex-wrap: wrap;
  height: 80%;
}

.section .text{
  max-width: 80%;
  text-align: center;
  align-items: center;
  height: 20vh;
  margin-top: 2rem;
}

.section .text> :nth-child(1) {
  font-weight:900;
  font-size: 1.5rem;
}

.section .text> :nth-child(2) {
  font-size: 1rem;
}

.sec4 .sec-img img{
  width: 100%;
}

.section5 h2{
  font-weight: 700;
  font-size: 2rem;
  padding-top:3rem ;
  padding-bottom: 1.5rem;
}

.faq-box{
  height: 6vh;
  font-size: 1rem;
}

.faq-box img{
  width: 1.5rem;  
}

.faq-register span{
  font-size: 1rem;
  text-align: center;
}

.faq-reg-box{
  height: 5rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer{
  grid-template-columns: 1fr 1fr;
}

footer{
  margin: 3rem 3rem;
}

.nav-element-footer #lang {
  width: 24vw;
}

.faq-reg-box{
  /* background-color: red; */
  height: 6rem;
  width: 20rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
  position: relative;
}

.faq-reg-box #emailAddress{
  height: 4rem;
  width: 16rem;
  margin: 5px;
}

.faq-reg-box #emailAddress:focus + .placeholder{
  top: 15%;
  font-size: 0.5rem;
  left: 2.5rem;
}

.faq-reg-box #emailAddress:focus{
  border: 4px solid rgba(238, 238, 238, 0.7);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  height: 3.8rem;
}

.faq-reg-box .placeholder{
  left: 35px;
  top: 25%;
}


.faq-reg-box button{
  height: 4rem;
  width: 8rem;    
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-reg-box button img{
  width: 1rem;
}